if SHIELD_CORNE_RIGHT

config ZMK_KEYBOARD_NAME
    # 蓝牙设备名限制 16 字节
    default "Corne DYA"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT
config ZMK_SPLIT
    default y
endif
